<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script type="text/javascript">
    window._AMapSecurityConfig = {
      securityJsCode: '7b518023f817621dc7d43037470da775',
    }
  </script>
  <script type="text/javascript" src="https://webapi.amap.com/maps?v=2.0&key=2eed2afc342099936ffe13d68558dbe5"></script>
  <script src="https://webapi.amap.com/maps?v=2.0&key=2eed2afc342099936ffe13d68558dbe5&plugin=AMap.MouseTool"></script>
</head>

<body>
  <div id="root"></div>
</body>

</html>